body {
	text-align: center;
    background-color: white;
    color: blue;
    font-family: Helvetica;
    background: "images/triptych.jpg";
}

h1, p {
    color: black;
}

h2, {
	font-style:italic;
}

body {
	color: gold
}

ul {
    text-align: center;
    list-style-type: none;
}